{% load static %}
<nav class="sidebar d-flex flex-column" style="height: 100vh;">
  <!-- Logo -->
  <div class="sidebar-header">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Logo" class="sidebar-logo">
    </a>
  </div>

  <!-- navbar menu -->
  <ul class="navbar-nav flex-column flex-grow-1" id="sidebarMenu">
    <!-- Dashboard -->
    <li class="nav-item mb-3">
      <a id="dashboard-link" class="nav-link text-black" href="{% url 'dashboard' %}" onclick="setActive('dashboard')">
        <img id="dashboard-icon" 
             src="{% static 'images/dashboard_icon_dark.png' %}" 
             alt="Dashboard Icon" class="nav-icon">
        Dashboard
      </a>
    </li>

    <!-- only Program Officers have Statistics link -->
    {% if user.is_program_officer %}
    <li class="nav-item mb-3">
        <a id="statistics-link" class="nav-link text-black" href="{% url 'visualize_ticket_data' %}" onclick="setActive('statistics')">
            <img id="statistics-icon" src="{% static 'images/statistics_icon_dark.png' %}" alt="Statistics Icon" class="nav-icon">
            Statistics
        </a>
    </li>
    {% endif %}

    <!-- Profile -->
    <li class="nav-item mb-3">
      <a id="profile-link" class="nav-link text-black" href="{% url 'profile' %}" onclick="setActive('profile')">
        <img id="profile-icon" 
             src="{% static 'images/profile_icon.png' %}" 
             alt="Profile Icon" class="nav-icon">
        Profile
      </a>
    </li>

    <!-- Logout -->
    <li class="nav-item mt-auto mb-3">
      <a class="nav-link text-black" href="{% url 'log_out' %}">
        <img src="{% static 'images/logout_icon.png' %}" alt="Logout Icon" class="nav-icon">
        Log out
      </a>
    </li>
  </ul>
</nav>

<!-- JavaScript -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    let dashboardIcon = document.getElementById("dashboard-icon");
    let profileIcon = document.getElementById("profile-icon");
    let statisticsIcon = document.getElementById("statistics-icon");
    let dashboardDefault = "{% static 'images/dashboard_icon.png' %}";
    let dashboardDark = "{% static 'images/dashboard_icon_dark.png' %}";
    let profileDefault = "{% static 'images/profile_icon.png' %}";
    let profileWhite = "{% static 'images/profile_icon_white.png' %}";
    let statisticsDefault = "{% static 'images/statistics_icon.png' %}";
    let statisticsDark = "{% static 'images/statistics_icon_dark.png' %}";

    let currentPath = window.location.pathname;
    if (currentPath.includes("dashboard")) {
        setActive("dashboard");
    } else if (currentPath.includes("profile")) {
        setActive("profile");
    } else if (currentPath.includes("visualize_ticket_data")) {
        setActive("statistics");
    }

    function setActive(page) {
        let dashboard = document.getElementById("dashboard-link");
        let profile = document.getElementById("profile-link");
        let statistics = document.getElementById("statistics-link");

        if (page === "dashboard") {
            dashboard.classList.add("active");
            profile.classList.remove("active");
            if (statistics) {
            statistics.classList.remove("active");
            statisticsIcon.src = statisticsDark;
            }
            dashboardIcon.src = dashboardDefault; 
            profileIcon.src = profileDefault; 
        } else if (page === "profile") {
            profile.classList.add("active");
            dashboard.classList.remove("active");
            if (statistics) {
            statistics.classList.remove("active");
            statisticsIcon.src = statisticsDark;
            }
            dashboardIcon.src = dashboardDark;
            profileIcon.src = profileWhite; 
        } else if (page === "statistics" && statistics) {
            statistics.classList.add("active");
            dashboard.classList.remove("active");
            profile.classList.remove("active");
            dashboardIcon.src = dashboardDark; 
            profileIcon.src = profileDefault; 
            statisticsIcon.src = statisticsDefault;
        }
    }
});
</script>






