{% extends 'base.html' %}
{% block body %}
  <div class="container-box vh-100">
    <div class="section-1 ">
      <div class="tip-box ">
        <div class="line-1"></div>
        <div class="text"></div>
        <div class="line-2"></div>
      </div>
      <div class="bg-cover"></div>
    </div>
    <div class="section-2">
      <img class="logo" src="/static/images/logo.png"  />
      <div class="header">
        <img height="100%" class="header-light" src="/static/images/head_light.png" />
      </div>
      <div class="center-text"> 
        <div class="center-box">
          <div class="title"><div>WUKONG</div></div>
          <div class="small-title"><div>University</div></div>
          <div class="small-title-1"><div>Student Ticket System</div></div>
        </div>
        <div class="center-box-stroke">
          <div class="title text-stroke-1"><div>WUKONG</div></div>
          <div class="small-title text-stroke-2"><div>University</div></div>
          <div class="small-title-1 text-stroke-2"><div>Student Ticket System</div></div>
        </div>
      </div>
      <div>
        <div class="center-login">
          <div>
            <a href='{% url "log_in" %}'>LOG IN</a>
          </div>
        </div>
        <div class="center-login-stroke ">
          <div><a href='{% url "log_in" %}' class="text-stroke-3">LOG IN</a></div>
        </div>
      </div>
      <div class="bottom-box">
        <div class="right-box">
          <div class="hover-handle">
            <div class="contact">
              <a href="javascript:void(0)">Contact Us</a>
              </div>
            <div class="message">
              <div>
                <a href="javascript:void(0)">wukonghelpdesk@gmail.com</a>
                </div>
              <div>
                <a href="javascript:void(0)">Lab 6.02, London, United Kingdom</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-cover-2">
    </div>
  </div>
{% endblock %}

