{% extends 'base_content.html' %}

{% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-primary">Your Profile</h1>
      <section class="my-5">
        <h2 class="text-secondary">User Information</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
          <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
          <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
          <li class="list-group-item"><strong>Role:</strong> 
            {% if user.is_program_officer %}
              Program Officer
            {% elif user.is_specialist %}
              Specialist
            {% elif user.is_student %}
              Student
            {% else %}
              Unknown
            {% endif %}
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
{% endblock %}
